<div class="d-md-flex">
    <ul id="navbar-items" class="p-0 list-unstyled">
        <br>
        <br>
        <br>
        <br>
<li> <a routerLink="/clients" style="text-decoration: none;"><i class="fas fa-clipboard-check text-white"></i>
    <span class="ps-3 name text-white fw-bold" style="font-size: 13px;">Clients</span></a></li>
    <li> <a routerLink="/comptes" style="text-decoration: none;"><i class="fas fa-calendar-alt text-white"></i> <span class="ps-3 name text-white fw-bold" style="font-size: 13px;">Comptes</span></a></li>          
    <!-- Ajoutez d'autres éléments de la liste ici -->
</ul>
        
  


     
</div>